@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e4ded0;
  --foreground: #171717;
  --theme-color-1: #ffffff;
  --theme-color-2: #f1f1f1;
  --theme-color-3: #e0e0e0;
  --theme-color-4: #d0d0d0;
  --theme-color-4: #d0d0d0;
  --theme-opposite-1: #171717;
  --theme-opposite-2: #232323;
  --theme-opposite-3: #333333;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
  } */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #e4ded0;
    --theme-color-1: #000000;
    --theme-color-2: #171717;
    --theme-color-3: #232323;
    --theme-color-4: #333333;
    --theme-opposite-1: #e0e0e0;
    --theme-opposite-2: #d0d0d0;
    --theme-opposite-3: #d0d0d0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes go-end {
  from {
    inset-inline-start: 0;
    width: 20%;
  }
  to {
    inset-inline-start: 90%;
    width: 10%;
  }
}
@keyframes go-start {
  from {
    inset-inline-end: 0;
    width: 20%;
  }
  to {
    inset-inline-end: 90%;
    width: 10%;
  }
}

.animate-line-end,
.animate-line-start {
  mix-blend-mode: soft-light;
  /* height: 100%;
  width: 10%;
  bottom: 0px;
  filter: blur(20px); */
  bottom: -10px;
  height: 2px;
}

.animate-line-end {
  animation: go-end 3s ease-in-out infinite alternate-reverse;
  background-color: yellow;
}
.animate-line-start {
  animation: go-start 3s ease-in-out infinite alternate-reverse;
  background-color: yellowgreen;
}

.PhoneInputInput {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.PhoneInputDropdown {
  max-height: 200px;
  overflow-y: auto;
}

.dark-logo {
  display: none;
}
.light-logo {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .dark-logo {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  .light-logo {
    display: block;
  }
}
